<link id="theme" rel="stylesheet" type="text/css" href="{{ site.baseurl }}/light.css" />
<script>
	var themeElement = document.getElementById("theme");
	function changeTheme(theme) {
		themeElement.href = "{{ site.baseurl }}/"+theme+".css";
	}

	// https://www.w3schools.com/js/js_cookies.asp
	function getCookie(cname) {
		var name = cname + "=";
		var decodedCookie = decodeURIComponent(document.cookie);
		var ca = decodedCookie.split(';');
		for(var i = 0; i <ca.length; i++) {
			var c = ca[i];
			while (c.charAt(0) == ' ')
				c = c.substring(1);
			if (c.indexOf(name) == 0)
				return c.substring(name.length, c.length);
		}
		return "";
	}

	var theme = getCookie("theme");
	if(theme)
		changeTheme(theme);
</script>